.div{
    display: flex;
    justify-content: center;
    gap: 15px
}
.btnClose{
  border: none;
  background-color: white;
}

.btnDelete{
    padding: 4px;
    width: 90px;
    margin: 0 auto;
    background-color: #d57f34;
    color: white;
    border: none;
    border-radius: 3px; 
}

.btnDelete:hover {
  background-color: #c67025;
}

.btnCansel{
    padding: 4px;
    width: 90px;
    margin: 0 auto;
    background-color: #d57f34;
    color: white;
    border: none;
    border-radius: 3px;
}
.btnCansel:hover{
    background-color: #c67025;
}