.div{
    display: flex;
    gap: 12px;
    align-items: center;
}

.p{
font-weight: 700;
font-size: 18px;
color: rgb(59, 59, 72)
}

.button{
max-height: 50px;
padding: 7px;
  background-color:#d57f34;
  color:white;
  border: none;
  border-radius: 3px;

}